
part4/base_files/images/icon_bath.png:Zone.Identifier
part4/base_files/images/icon_bed.png:Zone.Identifier
part4/base_files/images/icon_wifi.png:Zone.Identifier
part4/base_files/images/icon.png:Zone.Identifier
part4/base_files/images/logo.png:Zone.Identifier
